<div class="container mt-5">
  <% @flats.each do |flat| %> <br>
    <%= flat.picture_url %><br>
    <%= flat.name %><br>
    <%= flat.description %><br>
    <%= flat.address %><br>
    <%= flat.price %> €<br>
    <%= link_to "Voir l'appartement", flat_path(flat) %><br><br>
  <% end %>
</div>
