<div class="container mt -5">
  <%= @flat.picture_url %><br>
  <%= @flat.name %><br>
  <%= @flat.description %><br>
  <%= @flat.address %><br>
  <%= @flat.price %> €<br>

  #formulaire de reservation de booking

</div>
